defaults: &defaults
  working_directory: ~/_repo
  steps:
    # common php steps
    - run: echo "http://dl-cdn.alpinelinux.org/alpine/edge/community" >> /etc/apk/repositories
    - run: if [ -n "$ADD_PACKAGES" ]; then apk -U add $ADD_PACKAGES; fi;
    - run: if [ -n "$ADD_MODULES" ]; then docker-php-ext-install $ADD_MODULES; fi;
    - run: |
        if [ -n "$ADD_PECL" ]; then
          docker-php-source extract \
          && apk add --no-cache --virtual .phpize-deps-configure $PHPIZE_DEPS $ADD_PHPIZE_DEPS \
          && printf "\n" | pecl install $ADD_PECL \
          && docker-php-ext-enable $(echo $ADD_PECL | sed -E 's/-[0-9]+(\.[0-9]+)*//g') \
          && apk del .phpize-deps-configure \
          && docker-php-source delete
        fi;
    - run: echo "date.timezone = UTC" >> $(php --ini |grep Scan |awk '{print $NF}')/timezone.ini
    - run: curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/bin --filename=composer

    # pre-checkout steps
    - run: apk -U add wget
    - run:
        name: install dockerize
        command: wget https://github.com/jwilder/dockerize/releases/download/$DOCKERIZE_VERSION/dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz && tar -C /usr/local/bin -xzvf dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz && rm dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz
        environment:
          DOCKERIZE_VERSION: v0.5.0
    - run:
        name: Wait for services to start
        command: dockerize -wait tcp://localhost:3306 -wait tcp://localhost:9160 -timeout 1m

    # checkout
    - checkout

    # post-checkout steps

    # run tests
    - run: composer install -n --prefer-dist
    - run: php .circleci/.mysql.php
    - run: php .circleci/.cassandra.php
    - run: php vendor/phpunit/phpunit/phpunit -c phpunit.xml --log-junit "/tmp/test-results/phpunit/junit.xml"
    - store_test_results:
        path: /tmp/test-results

version: 2
jobs:
  build-php80:
    <<: *defaults
    docker:
      - image: php:8.0-alpine
        environment:
          ADD_PACKAGES: "php8-apcu"
          ADD_PECL: "memcache"
          ADD_MODULES: "mysqli pdo pdo_mysql"
      - image: cassandra:2.1
        environment:
          CASSANDRA_START_RPC: yes
      - image: circleci/mysql:5.6
        environment:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_ROOT_HOST: "%"
      - image: memcached:1.4

workflows:
  version: 2
  build:
    jobs:
      - build-php80
